.resultsList{
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: -40px;
    text-align:center
    position: relative;
    width:40%;

}

.
