<div class='form-group'>
  <button class="btn btn-default btn-lg glyphicon glyphicon-ok btn-round btn-success actionBtn" type="button" id="Calculate" ng-click="calculate()"></button>
  <button class="btn btn-default btn-lg glyphicon glyphicon-plus btn-round btn-primary actionBtn" type='button' id='AddGame' ng-click="addNewGame()"></button>
  <button class="btn btn-default btn-lg glyphicon glyphicon-save btn-round btn-info  actionBtn disabled" type='button' id='save' ng-click="saveGame()"></button>

</div>
