<section id="games" class="col-md-6">
  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" ng-repeat="game in games" heading="Game {{game.id}}" ng-init="status.open = $index==selectedGame" is-open="status.open" is-disabled="status.isFirstDisabled">
      <uib-accordion-heading>
        Game {{game.id}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
      </uib-accordion-heading>

      <div class='form-group form-inline'>
        <label for='grade1'>Opponent's Grade: </label>
        <input type="number" pattern="[0-9]*"  class="form-control" ng-model="game.grade" placeholder="your opponents grade" id="grade" grade=''>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" id="resultSelector" type="button" data-toggle="dropdown">{{game.resultText}}
   <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="resultSelector">
            <li ng-model="game.result" ng-value="1"><a ng-click="dropboxResultitemselected(game, 1)">Win</a></li>
            <li ng-model="game.result" ng-value="0"><a ng-click="dropboxResultitemselected(game,0)">Draw</a></li>
            <li ng-model="game.result" ng-value="-1"><a ng-click="dropboxResultitemselected(game,-1)">Loss</a></li>
          </ul>
          <button type="button" class="btn btn-default btn-xs btn-round btn-danger pull-right" ng-disabled="{{ $index == 0}}" ng-click="removeChoice($index)"><span class="glyphicon glyphicon-minus"></span></button>

        </div>
        <!-- drop down -->
      </div>
      <!-- form group -->
    </div>
  </uib-accordion>
</section>
