<fieldset/>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Your grade</h4>
      </div>
      <div class="panel-body">
        <fieldset>
          <!-- <legend>My chess grade</legend> -->
          <div class="form-group">
            <label for='chessFederationSelector'>Grading system</label>
            <select name="repeatSelect" id="repeatSelect" ng-model="selectedChessFederation">
              <option ng-repeat="cf in chessFederations" value="{{cf}}">{{cf}}</option>
            </select>
          </div>

          <div class="form-group form-inline">
            <label for='currentgrade'>My grade</label>
            <input type="number" pattern="[0-9]*" class="form-control" placeholder="your current grade" id="currentgrade" ng-model="player.grade">

            <label for='kfactorSelector'>K Factor</label>
            <select name="kfactorselect" id="kfactorselect" ng-options="option.name for option in kfactors.availableOptions track by option.id" ng-model="kfactors.selectedOption"></select>
          </div>
          <!-- </div> -->
        </fieldset>

      </div>
    </div>
  </div>
</div>
