<div class = 'container'>
<h3>About calculating chess grades</h3>
<p>
    MyChessGrade allows you to calculate your chess grade after every game.
</p>
<p>
    All you need to do is enter in your current grade and your recent game results.
</P>

<p>
    Your grade is calculated from your grade, your opponents grade and the result of the game (win, loss or draw).
</P>

<p>
    Once you've added these just click on the calculate button to see what your new grade is.
</P>

<h3>Supported Grading systems</h3>

<p>
    There are a number of different grading systems used by chess federations.
</p>

<p>
    The most common grading system is ELO. This is the grading system used by FIDE, the international chess federation.
</p>

<p>
    However, other chess federations, such as the US chess federation, use a different implementation of the ELO grading system.
</p>

<p>
    We currently support the ELO FIDE grading system and the English Chess Federation Grading system.
</P>

<h3>ELO and other grading systems</h3>
<p>
    Different implementations of ELO are used worldwide to compare the ability of players of many games (not just chess).
</p>

<p>
    The English Chess Federation has a grading system that is not based on ELO.
</p>

<p>
    We support that too.
</p>
</div>
