<div class='container'>
  <form name="calc" id="calcForm" action="" method="POST">

    <fieldset>
      <!-- <legend>My chess grade</legend> -->
      <div class="form-group">
        <label for='chessFederationSelector'>Grading system</label>
        <select name="repeatSelect" id="repeatSelect" ng-model="selectedChessFederation">
          <option ng-repeat="cf in chessFederations" value="{{cf}}">{{cf}}</option>
        </select>
      </div>

      <div class="form-group form-inline">
        <label for='currentgrade'>My grade</label>
        <input type="text" class="form-control" placeholder="your current grade" id="currentgrade" ng-model="player.grade">

        <label for='kfactorSelector'>K Factor</label>
        <select name="kfactorselect" id="kfactorselect" ng-options="option.name for option in kfactors.availableOptions track by option.id" ng-model="kfactors.selectedOption"></select>
      </div>
      <!-- </div> -->
    </fieldset>

    <div class='stats_panels row'>

      <section id="stats" class="col-md-4">

        <uib-accordion close-others="oneAtATime">
          <div uib-accordion-group class="panel-default" heading="Statistics" ng-init="status.open=true" is-open="true" is-disabled="false">
            <uib-accordion-heading>
              Statistics <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
            </uib-accordion-heading>

            <table class="table table-striped">
              <tr>
                <th>Statistic</th>
                <th>Result</th>
              </tr>
              <tr>
                <div class="stat_panel">
                  <div class="stat">
                    <div id="stat_title">
                      <h4>My current grade</h4>
                      <div id="stat_current_grade" class="current_grade">
                        1200
                      </div>
                    </div>
                  </div>
                </div>

                <tr>
                  <tr ng-repeat="stat in scoreCard.playerStats">
                    <td>{{stat.name}}</td>
                    <td>{{stat.value}}</td>
                  </tr>
            </table>

            <!-- form group -->
          </div>
        </uib-accordion>

      </section>

      <section id="games" class="col-md-6">
        <uib-accordion close-others="oneAtATime">
          <div uib-accordion-group class="panel-default" ng-repeat="game in games" heading="Game {{game.id}}" ng-init="status.open = $index==selectedGame" is-open="status.open" is-disabled="status.isFirstDisabled">
            <uib-accordion-heading>
              Game {{game.id}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
            </uib-accordion-heading>

            <div class='form-group form-inline'>
              <label for='grade1'>Opponent's Grade: </label>
              <input type="text" class="form-control" ng-model="game.grade" placeholder="your opponents grade" id="grade" grade=''>

              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="resultSelector" type="button" data-toggle="dropdown">{{game.resultText}}
         <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="resultSelector">
                  <li ng-model="game.result" ng-value="1"><a ng-click="dropboxResultitemselected(game, 1)">Win</a></li>
                  <li ng-model="game.result" ng-value="0"><a ng-click="dropboxResultitemselected(game,0)">Draw</a></li>
                  <li ng-model="game.result" ng-value="-1"><a ng-click="dropboxResultitemselected(game,-1)">Loss</a></li>
                </ul>
                <button type="button" class="btn btn-default btn-xs btn-round btn-danger pull-right" ng-disabled="{{ $index == 0}}" ng-click="removeChoice($index)"><span class="glyphicon glyphicon-minus"></span></button>

              </div>
              <!-- drop down -->
            </div>
            <!-- form group -->
          </div>
        </uib-accordion>
      </section>

    </div>

    <div class="row col-md-12">
      <div id='messages'>

      </div>

    </div>

    <div class='form-group'>
      <button class="btn btn-default btn-lg glyphicon glyphicon-ok btn-round btn-success actionBtn" type="button" id="Calculate" ng-click="calculate()"></button>
      <button class="btn btn-default btn-lg glyphicon glyphicon-plus btn-round btn-primary actionBtn" type='button' id='AddGame' ng-click="addNewGame()"></button>
      <button class="btn btn-default btn-lg glyphicon glyphicon-save btn-round btn-info  actionBtn disabled" type='button' id='save' ng-click="saveGame()"></button>

    </div>


    <!-- row -->
  </form>
</div>
<!-- container -->
