  <section class="container" id="contacts">
    <fieldset/>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Contact us</h4>
          </div>
          <div class="panel-body">

            <p>Hi! What can we help you with?</p>
            <p>If you would like to keep in touch, make suggestions, ask any question, or report technical problems, please fill in the form.</p>

            <div class="">
              <div class="">
                <fieldset>
                  <h4>Suggestions / Feedback</h4>
                  <div id="contact_results"></div>
                  <div id="contact_body">

                    <div class="form-group form-group-lg">
                      <label for='name' class="required "><span>Name <span class="required"></span></label>
                      <input placeholder='your name' type="text" name="name" id="name" required="true" class="form-control"> </input>
                    </div>

                    <div class="form-group form-group-lg">
                      <label for='email' class=''>Email </label>
                      <input type="email" id='email' placeholder='your email' name="email" required="true" class="form-control"></input>
                    </div>

                    <div class="form-group form-group-lg">
                      <label for="message" class="required">Suggestions or feedback </label>
                      <textarea name="message" rows='6' id="feedback_message" class="form-control col-md-12" required="true"></textarea>
                      </label>
                    </div>

                    <div class="row">
                      <div class="col col-md-6">
                        <fieldset>
                          <div class="form-group form-group-lg">
                            <div>
                              <button type="button" class="btn btn-primary btn-lg" ng-click="sendFeedback()">Send  <span class='glyphicon glyphicon-send'></span></button>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
      s      </div>
          </div>
        </div>
      </div>
    </div>

</div>
