<div class="navbar navbar-inverse" role="navigation">
  <header>
    <div class="navbar-header" id="headername">
      <h2>Chess Grade Calculator</h2>
    </div>
  </header>

  <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
    <li><a href="/#!/calculator">Home</a></li>
    <li class="divider"></li>
    <li><a href="/#!/feedback">Send feedback</a></li>
    <li><a href="/#!/about">About</a></li>
    <li class=""><a href="/#!/login">Log in</a></li>
    <!-- <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
        <li class="divider"></li>
        <li><a href="#">Log Off</a></li> -->
  </ul>

  <!-- the ID is required in buttons to keep the hover color blue. needs to be fixed-->

  <div class="pull-right visible-sm visible-xs">
    <div class="btn-group" id="firstLevelNav_small">
      <button id="firstLevelNav_small2" type="button" class="btn btn-default btn-sm dropdown-toggle btn-mnu-mb" data-toggle="dropdown">
  <i class="fa fa-bars fa-2x"><!-- --></i> <span class="caret"><!-- --></span>
</button>
      <ul class="dropdown-menu pull-right dropdown-wide">
        <li><a href="/#!/calculator">Home</a></li>
        <li class="divider"></li>
        <li><a href="/#!/feedback">Send feedback</a></li>
        <li><a href="/#!/about">About</a></li>
        <!-- <li><a href="#">Contact Us</a></li>
                <li><a href="#">Help</a></li>
                <li class="divider"></li>
                <li><a href="#">Log Off</a></li> -->
      </ul>

      <a href="/#!/login" id="firstLevelNav_small2" type="button" class="btn btn-default btn-sm btn-mnu-mb"><i class="fa  fa-sign-in fa-2x "><!-- --></i> </a>
    </div>
  </div>

</div>
<!-- navbar -->
